h2 {
	font-family: 'Open Sans', sans-serif;
	color: #2C3E50;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: .5em;
}

ul{
	list-style-position: inside;
    margin-bottom: 2em;
}

ul li {
	font-family: 'Open Sans', sans-serif;
	color: #5E5E5E;
	font-weight: normal;
	font-size: 18px;
    margin-left: 1em;
    margin-bottom: .25em;
}
