ul{
	list-style-position: inside;
	margin-left: 30%;
    margin-bottom: 2%;
}

ul li {
	font-family: 'Open Sans', sans-serif;
	color: #5E5E5E;
	font-weight: normal;
	font-size: 18px;
    margin-left: 1%;
}

h1 {
    font-size: 40px;
    margin-bottom: 1%;
	font-family: Arial, serif;
	color: white;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: #2C3E50;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 1%;
    margin-left: 30%;
}

p {
    margin-bottom: 2%;
    font-size: 16px;

	font-family: 'Open Sans', sans-serif;
	color: #5E5E5E;
	font-weight: normal;
}

b { font-size: 18px; }

	
/* Smaller monitor settings */

@media (max-width: 1280px) {

    h1 { margin-left: 30%; }
    p { margin-left: 30%; }
}

/* Tablet settings */

@media (max-width: 800px) {

    p {
        margin-left: 5%;
        margin-bottom: 0;
    }

    h1 {
        margin-left: 5%;
        margin-bottom: 5%;
    }

    h2 {
        margin-left: 5%;
        margin-top: 5%;
    }

    ul {
        margin-left: 5%;
        margin-top: 5%;
    }

    ul li {
	    margin-left: 5%;
    }
}

/* Mobile settings */

@media(max-width: 414px) {
    p { margin-bottom: 0; }

    h1 { margin-bottom: 5%; }

    h2 {
        margin-left: 10%;
        margin-top: 10%;
    }

    ul {
        margin-left: 10%;
        margin-top: 5%;
    }

    ul li {
	    margin-left: 10%;
    }
}

