#mainDisplay {
	position: relative;
	width: auto;
	height: 70%;
}

#profile {
	position: absolute;
	right: 0;
	width: 25%;
	height: 100%;
	background-color: #4A4F6B;
	display: inline-block;
}

#profilePicture {
	width: auto;
	height: auto;
	margin-top: 15%;
	margin-left: 35%;
}

#circlePicture {
	border-radius: 50%;
}

#profileHeaderContainer {
	width: auto;
	height: auto;
	margin-top: 5%;
	margin-left: 28%;
}

#profileHeader {
	font-family: Arial, serif;
	color: white;
	font-size: 32px;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
}

#profileText {
	width: auto;
	height: auto;
	margin-top: 5%;
	margin-left: 32%;
}

#email {
	width: auto;
	height: auto;
	margin-top: 10%;
}

#socialLinks {
	width: auto;
	height: auto;
	margin-top: 10%;
}

#socialLeftImage {
	padding-left: 30%;
}

#socialImageSpacing {
	padding-left: 5%;
}

#aboutContainer {
	height: auto;
	width: auto;
	padding-left: 20%;
	position: relative;
}

#aboutHeaderContainer {
	width: auto;
	height: auto;
	padding-top: 5%;
}

#aboutHeader {
	color: #5569DC;
	font-family: Arial, serif;
	font-size: 32px;
}

#aboutParagraphContainer {
	width: auto;
	height: auto;
	padding-top: 2%;
}

#aboutParagraph {
	font-family: 'Open Sans', sans-serif;
	color: #5569DC;
	font-weight: lighter;	
	font-size: 22px;
}

/* 
 * Automatic slide show classes
 * Taken and adapted from https://www.w3schools.com/howto/howto_js_slideshow.asp
 */


.mySlides {
	display: none;
}
img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	width: 75%;
	height: 630px;
	position: relative;
	margin: auto;
	display: inline-block;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  display: inline-block;
  bottom: 8px;
  margin-top: 20px;
}

.dotContainer {
	width: 200px;
	height: 50px;
	position: absolute;
	bottom: 8px;
	margin-left: 40%;
	padding-left: 10%;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
