img {
	width: 960px;
	height: 540px;
}

#projectsNav {
	width: auto;
	height: 30px;
	background-color: #4A4F6B;
	padding-left: 30%;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;

}

#projectsNav li {
	display: inline-block;
	padding-top: 2px;
	padding-right: 2%;

}

#projectsNav li a {
	color: white;
	text-decoration: none;
}

#projectsNav a:hover {
	color: #CAD4E8;
} 

#projectContainer {
    height: 540px; 
	width: 80%;
	margin-left: 10%;
	/* background-color: pink; */
	float: left;
	overflow: hidden;
}

#projectDescriptionContainer {
	width: 530px;
	height: 540px;
	/* background-color: red; */
	float: right;
}


#headerContainer {
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-top: 1%;
}


h1 {
	font-size: 55px;
	font-family: Arial, serif;
	color: white;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
}

hr {
	height: 1px;
	background-color: black;
	border: none;
	margin-top: 0.25%;
	margin-bottom: 2%;
}

hr.project {
	width: 80%;
	height: 1px;
	background-color: black;
	border: none;
	margin-top: 1%;
	margin-bottom: 2%;
	margin-left: 10%;
	float: left;
}

h2 {
	font-size: 22px;
	font-family: Arial, serif;
	color: black;
	margin-bottom: 2%;
	margin-left: 2%;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: lighter;
	font-size: 16px;
	margin-left: 2%;
}

/*
 * Slide show classes
 * Code taken from https://www.w3schools.com/howto/howto_js_slideshow.asp 
 */


.mySlides1, .mySlides2, .mySlides3, .mySlides4 {display: none}
img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 960px;
  height: 540px;
  position: relative;
  /* background-color: green; */
  float: left;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

