p {
	display: inline;
	font-family: 'Open Sans', sans-serif;
	color: #5569DC;
	font-weight: lighter;	
	font-size: 18px;
}

ul {
	list-style-position: inside;
	margin-left: 1%;
}

li {
	font-family: 'Open Sans', sans-serif;
	color: #5569DC;
	font-weight: lighter;	
	font-size: 18px;
}

h1 {
	font: 700 2.0rem/1.2 "Roboto";
	font-family: Arial, serif;
	color: white;
	font-size: 32px;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: #5569DC;
	font-weight: lighter;	
	font-size: 22px;
	margin-top: 5px;
	margin-bottom: 0px;
}

hr { margin-bottom: 10px; }

.text-container {
	width: auto;
	padding-bottom: 10px;
}
