hr {
    margin-bottom: 1%;
}

ul{
	list-style-position: inside;
}

ul li {
	font-family: 'open sans', sans-serif;
	color: #5e5e5e;
	font-weight: normal;
	font-size: 18px;
    margin-left: 1%;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: #2C3E50;
	font-weight: normal;
	font-size: 20px;
    margin-bottom: 1%;
}
