#sectionContainer {
	width: 50%;
	height 100px;
	margin-left: 25%;
}

h1 {
	margin-top: 2%;
}

p {
	display: inline;
	font-family: 'Open Sans', sans-serif;
	color: #5569DC;
	font-weight: lighter;	
	font-size: 18px;
}

ul {
	list-style-position: inside;
	margin-left: 1%;
}

li {
	font-family: 'Open Sans', sans-serif;
	color: #5569DC;
	font-weight: lighter;	
	font-size: 18px;
}

hr {
	height: 1px;
	background-color: black;
	border: none;
	margin-top: 0.25%;
	margin-bottom: 0.25%;
}
