/* 
 * The projects file has different main and footer
 * becuase this is the only page right now that I
 * want to expand on dynamically
 */

.projectsMain {
	width: auto;
	height: 100%;
}

.projectsFooter {
	position: absolute;
	bottom: 0;
	width: auto;
	height: auto;
	background-color: #4A4F6B;
	margin-top: 5%;
	padding-top: 100px;
}

h1 {
	font-size: 55px;
	font-family: Arial, serif;
	color: white;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
}

h2 {
	font-size: 22px;
	font-family: Arial, serif;
	color: black;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: lighter;	
	font-size: 16px;	
}

hr {
	height: 1px;
	background-color: black;
	border: none;
	margin-top: 0.25%;
	margin-bottom: 0.25%;
}

hr.project {
	width: 60%;
	height: 1px;
	background-color: black;
	border: none;
	margin-top: 1%;
	margin-bottom: 2%;
	margin-left: 20%;
}

.headerContainer {
	width: 60%;
	height: auto;
	margin-top: 1%;
	margin-bottom: 0;
	margin-left: 20%;
	padding-bottom: 1%;
}

.projectContainer {
	width: 60%;
	height: 320px;
	margin-left: 20%;
}

.projectSlideShow {
	width: 50%;
	height: 100%;
	display: inline-block;
}

.projectDescription {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: right;
}

.descriptionHeader {
	width: 40%;
	height: auto;
	margin-bottom: 5%;
	margin-top: 5%;
	margin-left: 2%;
}


.descriptionText {
	width: 90%;
	height: auto;
	margin-left: 2%;
}

/*
 * Slide show classes
 * Code taken from https://www.w3schools.com/howto/howto_js_slideshow.asp 
 */


.mySlides1, .mySlides2, .mySlides3, .mySlides4 {display: none}
img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 0;
  background-color: brown;
  display: inline-block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

