<header id="topbar-wrapper" aria-label="Top Bar">
	<div id="topbar" class="d-flex align-items-center justify-content-between px-lg-3 h-100">
		<nav id="breadcrumb" aria-label="Breadcrumb">

			{% if page.layout == 'home' %}
				<span>Home</span>
			{% else %}
				<span>
					<a href="{{ '/' | relative_url }}">
					Home
					</a>
				</span>
			{% endif %}

			{% case page.layout %}
				{% when 'post' %}
					<span>
						<a href="{{ '/blog' | relative_url }}">
							Blog
						</a>
					</span>
					<span>
						{{ page.title }}
					</span>
				{% when 'demo' %}
					<span>
						<a href="{{ '/Sandbox' | relative_url }}">
							Sandbox
						</a>
					</span>
					<span>
						{{ page.title }}
					</span>
				{% when 'project' %}
					<span>
						<a href="{{ '/Projects' | relative_url }}">
							Projects
						</a>
					</span>
					<span>
						{{ page.title }}
					</span>
			{% endcase %}

			{% if page.collection == 'tabs' %}
				<span>{{ page.title }}</span>
			{% endif %}
		</nav>

		<button type="button" id="sidebar-trigger" class="btn btn-link" onclick="myOnClick()">
			<i class="fas fa-bars fa-fw"></i>
		</button>
		<div id="topbar-title" class="pe-5 mx-auto">Ashley Barrell</div>
	</div>
</header>
