{% comment %}
<!-- Get the last 5 posts from demos or posts. -->
{% endcomment %}

{% assign MAX_SIZE = 5 %}
{% assign all_list = site.posts | concat: site.demos | sort:"date" | reverse %}

<section id="access-lastmod">
  <h2 class="panel-heading">Recently Added</h2>
  <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
    {% for item in all_list limit: MAX_SIZE%}
      <li class="text-truncate lh-lg">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
<!-- #access-lastmod -->
